<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/delete.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Редактирование услуги</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Название услуги</th>
        <th>Описание</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="service : ${services}">
        <td th:text="${service.serviceId}"></td>
        <td th:text="${service.serviceName}"></td>
        <td th:text="${service.description}"></td>
        <td>
            <form th:action="@{'/services/update/' + ${service.serviceId}}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="serviceId" th:value="${service.serviceId}" />
                <td>
                <label for="price">Price:</label>
                <input type="text" id="price" name="price" th:value="${service.price}" />
                </td>
                <td>
                <label for="discount">Discount:</label>
                <input type="text" id="discount" name="discount" th:value="${service.discount}" />
                </td>
                <td>
                <label for="addOns">Add-ons:</label>
                <textarea id="addOns" name="addOns" th:text="${service.addOns}"></textarea>
                </td>
                <td>
                <label for="serviceImageFile">Service Image:</label>
                <input type="file" id="serviceImageFile" name="serviceImageFile" />
                </td>
                <td>
                <input type="submit" value="Update" />
                </td>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/salon/profile}">Отмена</a>
<div class="footer">
    <h1>
        Мой сайт
    </h1>
    <h2>
        info@mysite.com
    </h2>
    <p>
        © Мой сайт, 2023.
    </p>
</div>
<script>
    $(document).ready(function() {
        $("body").css("opacity", "1");
    });
</script>
</body>
</html>
